<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.example.demo.info.dao.InfoDAO">
	<select id="count" resultType="int">
      SELECT count(*) FROM information
    </select>
	
	
	<select id="list" parameterType="PageDTO" resultType="InfoDTO">
      <![CDATA[
		select b.*
		from (SELECT rownum AS rm, a.*
		from (select info_seq, title, place, thumbnail, start_date, end_date 
		from information)a)b
		WHERE b.rm>=#{startRow} AND b.rm<=#{endRow}
		ORDER BY info_seq
	]]>
  	</select>
	 
	 
	 <select id="content" parameterType="int" resultType="InfoDTO">
		SELECT i.*
		FROM information i
		WHERE info_seq=#{info_seq}
	  </select>
</mapper>