<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.Users.dao.UsersDAO">
	 
	<!-- 회원가입 -->
    <insert id="insertUsers" parameterType="UsersDTO">
      <![CDATA[
         INSERT INTO users(usersEmail,usersPassword,usersName,usersPhone)
         VALUES(#{usersEmail}, #{usersPassword}, #{usersName}, #{usersPhone})           
      ]]>
    </insert>
    
    <!--회원정보 가져오기 -->
    <select id="selectByEmail"   parameterType="string"  resultType="UsersDTO">
       SELECT * FROM users
       WHERE usersEmail = #{usersEmail}
    </select>
    
     <select id="selectByPass"   parameterType="string"  resultType="UsersDTO">
       SELECT * FROM users
       WHERE usersPassword = #{usersPassword}
    </select>
	 
	 
	 
 </mapper>